[Unit]
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/var/www/proxy-server
ExecStart=/var/www/proxy-server/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
